vpass
.retry
*.img
*.iso
*.box
.DS_Store
/.vagrant/
*.tfstate
/packer_cache/
/.vscode/

# terraform stuff
terraform.tfplan
terraform.tfstate
./*.tfstate
.terraform/

# Ansible stuff
.galaxy_install_info
packer.cpython-*.pyc

**/variables.json