<Configuration Environment="Test" Version="3.99.70">
    <Install SPVersion="2016">
        <ConfigFile>config-AutoSPInstaller.xml</ConfigFile>
        <InstallDir></InstallDir>
        <DataDir></DataDir>
        <PIDKey>NQGJR-63HC8-XCRQH-MYVCH-3J3QR</PIDKey>
        <SKU>Enterprise</SKU>
        <OfflineInstall>false</OfflineInstall>
        <PauseAfterInstall>false</PauseAfterInstall>
        <RemoteInstall Enable="false">
            <ParallelInstall>false</ParallelInstall>
        </RemoteInstall>
        <AutoAdminLogon Enable="true">
            <Password>{{ domain_admin_password }}</Password>
        </AutoAdminLogon>
        <Disable>
            <LoopbackCheck>true</LoopbackCheck>
            <UnusedServices>true</UnusedServices>
            <IEEnhancedSecurity>true</IEEnhancedSecurity>
            <CertificateRevocationListCheck>true</CertificateRevocationListCheck>
        </Disable>
    </Install>
    <Farm>
        <Passphrase>{{ farm_password }}</Passphrase>
        <Account>
            <AddToLocalAdminsDuringSetup>true</AddToLocalAdminsDuringSetup>
            <LeaveInLocalAdmins>true</LeaveInLocalAdmins>
            <Username>{{ netbios }}\SP_Farm</Username>
            <Password>{{ farm_password }}</Password>
        </Account>
        <CentralAdmin Provision="localhost">
            <Database>Content_CentralAdmin</Database>
            <Port>2016</Port>
            <UseSSL>false</UseSSL>
        </CentralAdmin>
        <Database>
            <DBServer>SPSQL</DBServer>
            <SQLAuthentication Enable="false">
                <SQLUserName></SQLUserName>
                <SQLPassword></SQLPassword>
            </SQLAuthentication>
            <DBAlias Create="true">
                <DBInstance>VERGE-DDB01</DBInstance>
                <DBPort>1433</DBPort>
            </DBAlias>
            <DBPrefix>SP2016</DBPrefix>
            <ConfigDB>Config</ConfigDB>
        </Database>
        <Services>
            <SandboxedCodeService Start="localhost"/>
            <ClaimsToWindowsTokenService Start="localhost" UpdateAccount="true"/>
            <SMTP Install="false"/>
            <OutgoingEmail Configure="false">
                <SMTPServer></SMTPServer>
                <EmailAddress></EmailAddress>
                <ReplyToEmail></ReplyToEmail>
            </OutgoingEmail>
            <IncomingEmail Start="localhost"/>
            <DistributedCache Start="localhost"/>
            <WorkflowTimer Start="localhost"/>
            <FoundationWebApplication Start="localhost"/>
        </Services>
        <ServerRoles>
            <Custom Provision="false"/>
            <WebFrontEnd Provision="false"/>
            <WebFrontEndWithDistributedCache Provision="false"/>
            <SingleServerFarm Provision="localhost"/>
            <Search Provision="false"/>
            <Application Provision="false"/>
            <ApplicationWithSearch Provision="false"/>
            <DistributedCache Provision="false"/>
        </ServerRoles>
        <ManagedAccounts>
            <ManagedAccount CommonName="spservice">
                <Username>{{ netbios }}\SP_Services</Username>
                <Password>{{ services_password }}</Password>
            </ManagedAccount>
            <ManagedAccount CommonName="Portal">
                <Username>{{ netbios }}\SP_PortalAppPool</Username>
                <Password>{{ portalapppool_password }}</Password>
            </ManagedAccount>
            <ManagedAccount CommonName="SearchService">
                <Username>{{ netbios }}\SP_SearchService</Username>
                <Password>{{ search_service_password }}</Password>
            </ManagedAccount>
        </ManagedAccounts>
        <ObjectCacheAccounts>
            <SuperUser>{{ netbios }}\SP_CacheSuperUser</SuperUser>
            <SuperReader>{{ netbios }}\SP_CacheSuperReader</SuperReader>
        </ObjectCacheAccounts>
        <Logging>
            <IISLogs Compress="true">
                <Path></Path>
            </IISLogs>
            <ULSLogs Compress="true">
                <LogLocation></LogLocation>
                <LogDiskSpaceUsageGB></LogDiskSpaceUsageGB>
                <DaysToKeepLogs></DaysToKeepLogs>
                <LogCutInterval></LogCutInterval>
            </ULSLogs>
            <UsageLogs Compress="true">
                <UsageLogDir></UsageLogDir>
                <UsageLogMaxSpaceGB></UsageLogMaxSpaceGB>
                <UsageLogCutTime></UsageLogCutTime>
            </UsageLogs>
        </Logging>
    </Farm>
    <WebApplications AddURLsToHOSTS="true">
        <WebApplication Name="Verge">
            <Type>Portal</Type>
            <ApplicationPool>SharePoint</ApplicationPool>
            <Url>http://verge</Url>
            <Port>80</Port>
            <UseHostHeader>true</UseHostHeader>
            <AddURLToLocalIntranetZone>true</AddURLToLocalIntranetZone>
            <GrantCurrentUserFullControl>true</GrantCurrentUserFullControl>
            <UseClaims>true</UseClaims>
            <UseBasicAuthentication>false</UseBasicAuthentication>
            <UseOnlineWebPartCatalog>false</UseOnlineWebPartCatalog>
            <Database>
                <Name>Verge</Name>
                <DBServer></DBServer>
                <SQLAuthentication UseFarmSetting="true">
                    <SQLUserName></SQLUserName>
                    <SQLPassword></SQLPassword>
                </SQLAuthentication>
                <DBAlias Create="false">
                    <DBInstance></DBInstance>
                    <DBPort></DBPort>
                </DBAlias>
            </Database>
            <ManagedPaths/>
            <SiteCollections>
                <SiteCollection siteUrl="http://verge">
                    <Name>Verge</Name>
                    <Description></Description>
                    <HostNamedSiteCollection>false</HostNamedSiteCollection>
                    <Owner></Owner>
                    <CustomDatabase>contentVerge</CustomDatabase>
                    <SearchUrl></SearchUrl>
                    <Template>STS#1</Template>
                    <LCID>1044</LCID>
                    <Locale></Locale>
                    <Time24>true</Time24>
                </SiteCollection>
            </SiteCollections>
        </WebApplication>
    </WebApplications>
    <ServiceApps>
        <ManagedMetadataServiceApp Provision="localhost">
            <Name>Managed Metadata Service</Name>
            <ProxyName>Managed Metadata Service</ProxyName>
            <Database>
                <Name>MetaData</Name>
                <DBServer></DBServer>
                <SQLAuthentication UseFarmSetting="true">
                    <SQLUserName></SQLUserName>
                    <SQLPassword></SQLPassword>
                </SQLAuthentication>
                <DBAlias Create="false">
                    <DBInstance></DBInstance>
                    <DBPort></DBPort>
                </DBAlias>
            </Database>
        </ManagedMetadataServiceApp>
        <UserProfileServiceApp Provision="false">
            <Name>User Profile Service Application</Name>
            <ProxyName>User Profile Service Application</ProxyName>
            <MySiteHostLocation></MySiteHostLocation>
            <MySiteManagedPath>personal</MySiteManagedPath>
            <EnableNetBIOSDomainNames>true</EnableNetBIOSDomainNames>
            <StartProfileSync>true</StartProfileSync>
            <CreateDefaultSyncConnection>false</CreateDefaultSyncConnection>
            <SyncConnectionAccount>{{ netbios }}\SP_ProfileSync</SyncConnectionAccount>
            <SyncConnectionAccountPassword></SyncConnectionAccountPassword>
            <Database>
                <ProfileDB>Profile</ProfileDB>
                <SyncDB>Sync</SyncDB>
                <SocialDB>Social</SocialDB>
                <DBServer></DBServer>
                <SQLAuthentication UseFarmSetting="true">
                    <SQLUserName></SQLUserName>
                    <SQLPassword></SQLPassword>
                </SQLAuthentication>
                <DBAlias Create="false">
                    <DBInstance></DBInstance>
                    <DBPort></DBPort>
                </DBAlias>
            </Database>
        </UserProfileServiceApp>
        <EnterpriseSearchService Provision="localhost">
            <ContactEmail></ContactEmail>
            <ConnectionTimeout>60</ConnectionTimeout>
            <AcknowledgementTimeout>60</AcknowledgementTimeout>
            <ProxyType>Default</ProxyType>
            <IgnoreSSLWarnings>true</IgnoreSSLWarnings>
            <InternetIdentity>Mozilla/4.0 (compatible; MSIE 4.01; Windows NT; MS Search 6.0 Robot)</InternetIdentity>
            <CustomIndexLocation></CustomIndexLocation>
            <PerformanceLevel>Reduced</PerformanceLevel>
            <ShareName>SearchIndex</ShareName>
            <EnterpriseSearchServiceApplications>
                <EnterpriseSearchServiceApplication Name="Search Service Application">
                    <FailoverDatabaseServer></FailoverDatabaseServer>
                    <Partitioned>false</Partitioned>
                    <Partitions>1</Partitions>
                    <SearchServiceApplicationType>Regular</SearchServiceApplicationType>
                    <ContentAccessAccount>{{ netbios }}\SP_SearchContent</ContentAccessAccount>
                    <ContentAccessAccountPassword>{{ search_content_password }}</ContentAccessAccountPassword>
                    <Database>
                        <Name>Search</Name>
                        <DBServer></DBServer>
                        <SQLAuthentication UseFarmSetting="true">
                            <SQLUserName></SQLUserName>
                            <SQLPassword></SQLPassword>
                        </SQLAuthentication>
                        <DBAlias Create="false">
                            <DBInstance></DBInstance>
                            <DBPort></DBPort>
                        </DBAlias>
                    </Database>
                    <ApplicationPool Name="SharePoint Search Application Pool"/>
                    <CrawlComponent Provision="localhost"/>
                    <QueryComponent Provision="localhost"/>
                    <SearchQueryAndSiteSettingsComponent Provision="localhost"/>
                    <AdminComponent Provision="localhost">
                        <ApplicationPool Name="SharePoint Search Application Pool"/>
                    </AdminComponent>
                    <IndexComponent Provision="localhost"/>
                    <ContentProcessingComponent Provision="localhost"/>
                    <AnalyticsProcessingComponent Provision="localhost"/>
                    <Proxy Name="Search Service Application">
                        <Partitioned>false</Partitioned>
                        <ProxyGroup>Default</ProxyGroup>
                    </Proxy>
                    <SearchCenterUrl></SearchCenterUrl>
                </EnterpriseSearchServiceApplication>
            </EnterpriseSearchServiceApplications>
        </EnterpriseSearchService>
        <StateService Provision="localhost">
            <Name>State Service</Name>
            <ProxyName>State Service</ProxyName>
            <Database>
                <Name>StateService</Name>
                <DBServer></DBServer>
                <SQLAuthentication UseFarmSetting="true">
                    <SQLUserName></SQLUserName>
                    <SQLPassword></SQLPassword>
                </SQLAuthentication>
                <DBAlias Create="false">
                    <DBInstance></DBInstance>
                    <DBPort></DBPort>
                </DBAlias>
            </Database>
        </StateService>
        <WebAnalyticsService Provision="localhost">
            <Name>Web Analytics Service Application</Name>
            <Database>
                <ReportingDB>WebAnalyticsReporting</ReportingDB>
                <StagingDB>WebAnalyticsStaging</StagingDB>
                <DBServer></DBServer>
                <SQLAuthentication UseFarmSetting="true">
                    <SQLUserName></SQLUserName>
                    <SQLPassword></SQLPassword>
                </SQLAuthentication>
                <DBAlias Create="false">
                    <DBInstance></DBInstance>
                    <DBPort></DBPort>
                </DBAlias>
            </Database>
        </WebAnalyticsService>
        <SPUsageService Provision="localhost">
            <Name>Usage and Health Data Collection</Name>
            <Database>
                <Name>UsageAndHealth</Name>
                <DBServer></DBServer>
                <SQLAuthentication UseFarmSetting="true">
                    <SQLUserName></SQLUserName>
                    <SQLPassword></SQLPassword>
                </SQLAuthentication>
                <DBAlias Create="false">
                    <DBInstance></DBInstance>
                    <DBPort></DBPort>
                </DBAlias>
            </Database>
        </SPUsageService>
        <SecureStoreService Provision="localhost">
            <Name>Secure Store Service</Name>
            <ProxyName>Secure Store Service</ProxyName>
            <Database>
                <Name>SecureStore</Name>
                <DBServer></DBServer>
                <SQLAuthentication UseFarmSetting="true">
                    <SQLUserName></SQLUserName>
                    <SQLPassword></SQLPassword>
                </SQLAuthentication>
                <DBAlias Create="false">
                    <DBInstance></DBInstance>
                    <DBPort></DBPort>
                </DBAlias>
            </Database>
        </SecureStoreService>
        <BusinessDataConnectivity Provision="false">
            <Name>Business Data Connectivity Service</Name>
            <ProxyName>Business Data Connectivity Service</ProxyName>
            <Database>
                <Name>BusinessDataCatalog</Name>
                <DBServer></DBServer>
                <SQLAuthentication UseFarmSetting="true">
                    <SQLUserName></SQLUserName>
                    <SQLPassword></SQLPassword>
                </SQLAuthentication>
                <DBAlias Create="false">
                    <DBInstance></DBInstance>
                    <DBPort></DBPort>
                </DBAlias>
            </Database>
        </BusinessDataConnectivity>
        <WordAutomationService Provision="false">
            <Name>Word Automation Services</Name>
            <ProxyName>Word Automation Services</ProxyName>
            <Database>
                <Name>WordAutomation</Name>
                <DBServer></DBServer>
                <SQLAuthentication UseFarmSetting="true">
                    <SQLUserName></SQLUserName>
                    <SQLPassword></SQLPassword>
                </SQLAuthentication>
                <DBAlias Create="false">
                    <DBInstance></DBInstance>
                    <DBPort></DBPort>
                </DBAlias>
            </Database>
        </WordAutomationService>
        <AppManagementService Provision="false">
            <Name>App Management Service</Name>
            <ProxyName>App Management Service</ProxyName>
            <AppDomain>apps.sharepointoscar.com</AppDomain>
            <Database>
                <Name>AppManagement</Name>
                <DBServer></DBServer>
                <SQLAuthentication UseFarmSetting="true">
                    <SQLUserName></SQLUserName>
                    <SQLPassword></SQLPassword>
                </SQLAuthentication>
                <DBAlias Create="false">
                    <DBInstance></DBInstance>
                    <DBPort></DBPort>
                </DBAlias>
            </Database>
        </AppManagementService>
        <SubscriptionSettingsService Provision="false">
            <Name>Subscription Settings Service</Name>
            <AppSiteSubscriptionName>app</AppSiteSubscriptionName>
            <Database>
                <Name>SubscriptionSettings</Name>
                <DBServer></DBServer>
                <SQLAuthentication UseFarmSetting="true">
                    <SQLUserName></SQLUserName>
                    <SQLPassword></SQLPassword>
                </SQLAuthentication>
                <DBAlias Create="false">
                    <DBInstance></DBInstance>
                    <DBPort></DBPort>
                </DBAlias>
            </Database>
        </SubscriptionSettingsService>
        <WorkManagementService Provision="SP2016APPSERVER">
            <Name>Work Management Service Application</Name>
            <ProxyName>Work Management Service Application</ProxyName>
        </WorkManagementService>
        <MachineTranslationService Provision="false">
            <Name>Machine Translation Service</Name>
            <ProxyName>Machine Translation Service</ProxyName>
            <Database>
                <Name>TranslationService</Name>
                <DBServer></DBServer>
                <SQLAuthentication UseFarmSetting="true">
                    <SQLUserName></SQLUserName>
                    <SQLPassword></SQLPassword>
                </SQLAuthentication>
                <DBAlias Create="false">
                    <DBInstance></DBInstance>
                    <DBPort></DBPort>
                </DBAlias>
            </Database>
        </MachineTranslationService>
        <PowerPointConversionService Provision="false">
            <Name>PowerPoint Conversion Service Application</Name>
            <ProxyName>PowerPoint Conversion Service Application</ProxyName>
        </PowerPointConversionService>
    </ServiceApps>
    <EnterpriseServiceApps>
        <ExcelServices Provision="false">
            <Name>Excel Services Application</Name>
            <UnattendedIDUser>{{ netbios }}\SP_ExcelUser</UnattendedIDUser>
            <UnattendedIDPassword></UnattendedIDPassword>
        </ExcelServices>
        <VisioService Provision="false">
            <Name>Visio Graphics Service</Name>
            <ProxyName>Visio Graphics Service</ProxyName>
            <UnattendedIDUser>{{ netbios }}\SP_VisioUser</UnattendedIDUser>
            <UnattendedIDPassword></UnattendedIDPassword>
        </VisioService>
        <AccessService Provision="false">
            <Name>Access 2010 Service</Name>
            <ProxyName>Access 2010 Service</ProxyName>
        </AccessService>
        <AccessServices Provision="false">
            <Name>Access Services</Name>
            <ProxyName>Access Services</ProxyName>
            <Database>
                <Name>AccessServices</Name>
                <DBServer></DBServer>
                <SQLAuthentication UseFarmSetting="true">
                    <SQLUserName></SQLUserName>
                    <SQLPassword></SQLPassword>
                </SQLAuthentication>
                <DBAlias Create="false">
                    <DBInstance></DBInstance>
                    <DBPort></DBPort>
                </DBAlias>
            </Database>
        </AccessServices>
        <PerformancePointService Provision="false">
            <Name>PerformancePoint Service</Name>
            <ProxyName>PerformancePoint Service</ProxyName>
            <UnattendedIDUser>{{ netbios }}\SP_PerfPointUser</UnattendedIDUser>
            <UnattendedIDPassword></UnattendedIDPassword>
            <Database>
                <Name>PerformancePoint</Name>
                <DBServer></DBServer>
                <SQLAuthentication UseFarmSetting="true">
                    <SQLUserName></SQLUserName>
                    <SQLPassword></SQLPassword>
                </SQLAuthentication>
                <DBAlias Create="false">
                    <DBInstance></DBInstance>
                    <DBPort></DBPort>
                </DBAlias>
            </Database>
        </PerformancePointService>
    </EnterpriseServiceApps>
    <OfficeWebApps Install="false">
        <ConfigFile>config-OWA-2010.xml</ConfigFile>
        <PIDKeyOWA></PIDKeyOWA>
        <ExcelService Provision="false">
            <Name>Excel Web App</Name>
            <ProxyName>Excel Web App</ProxyName>
            <UnattendedIDUser>{{ netbios }}\SP_ExcelUser</UnattendedIDUser>
            <UnattendedIDPassword></UnattendedIDPassword>
        </ExcelService>
        <WordViewingService Provision="false">
            <Name>Word Viewing Service</Name>
            <ProxyName>Word Viewing Service</ProxyName>
        </WordViewingService>
        <PowerPointService Provision="false">
            <Name>PowerPoint Service Application</Name>
            <ProxyName>PowerPoint Service Application</ProxyName>
        </PowerPointService>
    </OfficeWebApps>
    <ProjectServer Install="false">
        <ConfigFile>config-ProjectServer2013.xml</ConfigFile>
        <PIDKeyProjectServer></PIDKeyProjectServer>
        <ServiceApp Provision="localhost">
            <Name>Project Server Service Application</Name>
            <ProxyName>Project Server Service Application</ProxyName>
            <ManagedPath>PWA</ManagedPath>
            <ServiceAccount>{{ netbios }}\SP_ProjectServer</ServiceAccount>
            <ServiceAccountPassword></ServiceAccountPassword>
            <Database>
                <Name>ProjectServer</Name>
                <DBServer></DBServer>
                <SQLAuthentication UseFarmSetting="true">
                    <SQLUserName></SQLUserName>
                    <SQLPassword></SQLPassword>
                </SQLAuthentication>
                <DBAlias Create="false">
                    <DBInstance></DBInstance>
                    <DBPort></DBPort>
                </DBAlias>
            </Database>
        </ServiceApp>
    </ProjectServer>
    <AdobePDF>
        <iFilter Install="false"/>
        <Icon Configure="true"/>
        <MIMEType Configure="true"/>
    </AdobePDF>
    <ForeFront Install="false">
        <ConfigFile>answerfile-ForeFront-2010.xml</ConfigFile>
    </ForeFront>
</Configuration>
